*{
    font-family: montserrat, Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body{
    background-color: white;
}

.container{
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: white;
    font-size: 14px;
    border-bottom: 1px solid #b0b0b0;
}

.up-nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    height: 30px;
    border-bottom:1px solid #616060 ;
    background-color: #1a3c21;
    color: rgb(216, 216, 216);
    padding-block: 5px;
}

.status-user a{
    color: rgb(216, 216, 216);
    padding: 2px;
    margin-inline: 10px;
    text-decoration: none;
}

.left-nav{
    display: flex;
}

.bot-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.nav-collection{
    display: flex;
    list-style: none;
}

.nav-item{
    display: flex;
    padding: 10px;
    margin-inline: 5px;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    flex-direction: column;
}

.banner-add{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.banner-add .add-img{
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-content: center;
}

.banner-add .add-img img{
    max-width: 1000px;
    max-height: 200px;
}

.filter-content{
    display: flex;
    flex-direction: column;
    margin-inline: 30px;
}

.filter-nav{
    display: flex;
    list-style: none;
    padding: 10px;
    align-items: center;
}

.filter-btn{
    align-self: end;
    padding-block: 6px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-inline-end: 20px;
    border: 1px solid rgb(81, 81, 81);
}

.filter-item{
    margin-inline: 10px;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    background-color: #e1e0e5;
}

.add-img{
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-img img{
    margin: none;
}

.content{
    margin-inline: 50px;
}

.card-content-parent{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
}

@media screen and (max-width: 1080px) {
    .card-content-parent{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
    }
}

@media screen and (max-width: 810px) {
    .card-content-parent{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15px;
    }
}

@media screen and (max-width: 690px) {
    .card-content-parent{
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
    }
}

.card-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    padding-block: 15px;
    padding-inline: 5px;
    border: 1px solid #f2f2eb;
    box-shadow: 0 8px 16px 0 #e4e4e4;
}

.img-content{
    min-width: 100px;
    flex: 0 0 30%;
    object-fit: cover;
}

.img-content img{
    max-width: 150px;
    max-height: 130px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: white;
    width: fit-content;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 #e4e4e4;
}

.card h2{
    margin-block: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-block: 10px;
}

.form-group input, select, textarea{
    border: 1px solid rgb(81, 80, 80);
    padding: 5px;
    border-radius: 2px;
    margin-block: 10px;
}

.submit-btn{
    background-color: rgb(75, 75, 189);
    padding: 4px 6px;
    border-radius: 2px;
    border: 1px solid #b0b0b0;
    color: white;
    font-size: 14px;
}

.submit-btn:hover{
    background-color: rgb(49, 49, 196);
}

.action-card{
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

.action-card a{
    display: flex; 
    align-self: center; 
    width: fit-content; 
    font-size: 14px; 
    text-decoration: none; 
    color:black;  
    border: 1px solid rgb(61, 61, 61); 
    padding-block: 4px; 
    padding-inline: 6px; 
    border-radius: 4px;
}

.row-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 8px 16px 0 #e4e4e4;
    margin-inline: 50px;
}

.row-card .img-card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    min-height: 400px;
    flex:1;
}

.row-card .img-card img{
    max-width: 200px;
    max-height: 200px;
}

.row-card .form-transaksi{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-block-start: 30px;
    
}

.notif{
    margin-left: -50px;
    width: 100%;
    background-color: #fcf967;
    padding: 5px;
    margin-block: 20px;
    position: absolute;
    text-align: center;
}

.search input{
    padding-block: 5px;
    padding-inline: 20px;
    border: 1px solid #616060;
    border-radius: 2px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    margin: 0 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
